
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1.5rem .5rem;
    

    #btn-tema{

        
        background-color: var(--dark-color);
        color: var(--light-color);
        border: .125rem solid var(--light-color);
        border-radius: .25em;
        padding: .5rem 1rem;
        cursor: pointer;


    }

    #btn-tema:hover{

        background-color: var(--light-color);
        color: var(--dark-color);
        
    }

}